### Crop, resize and save new images

In [12]:
import numpy as np
import pandas as pd
from skimage.transform import resize
from tqdm import tqdm
import matplotlib.pyplot as plt
import cv2

%matplotlib inline

df = pd.read_csv('class1.csv')
sel = df.values
ids = sel[:,0].astype(int).astype(str)
ORIG_SHAPE = (424,424)
CROP_SIZE = (256,256)
IMG_SHAPE = (64,64)

x1 = (ORIG_SHAPE[0]-CROP_SIZE[0])//2
y1 = (ORIG_SHAPE[1]-CROP_SIZE[1])//2
# load the image and show it
for i in tqdm(ids):
    image = cv2.imread('images_training_rev1/'+i+'.jpg')
   
    # crop the image using array slices -- it's a NumPy array
    cropped = image[x1:x1+CROP_SIZE[0], y1:y1+CROP_SIZE[1]]

    # perform the actual resizing of the image and show it
    resized = cv2.resize(image, IMG_SHAPE, interpolation = cv2.INTER_AREA)
    
    # write the cropped image to disk in PNG format
    cv2.imwrite('./images_training_rev1/new_images/'+i+'.jpg', resized)

100%|██████████| 61578/61578 [06:11<00:00, 165.68it/s]

In [2]:
import numpy as np
import pandas as pd
from skimage.transform import resize
from tqdm import tqdm
import matplotlib.pyplot as plt
import cv2

%matplotlib inline

df = pd.read_csv('class1.csv')
sel = df.values
ids = sel[:,0].astype(int).astype(str)

In [3]:
ids

array(['100008', '100023', '100053', ..., '999958', '999964', '999967'],
      dtype='<U11')

In [4]:
sel

array([[1.00008e+05, 3.83147e-01, 6.16853e-01, 0.00000e+00],
       [1.00023e+05, 3.27001e-01, 6.63777e-01, 9.22200e-03],
       [1.00053e+05, 7.65717e-01, 1.77352e-01, 5.69310e-02],
       ...,
       [9.99958e+05, 2.02841e-01, 7.77376e-01, 1.97830e-02],
       [9.99964e+05, 9.10000e-02, 9.09000e-01, 0.00000e+00],
       [9.99967e+05, 7.67000e-01, 1.40000e-01, 9.30000e-02]])

In [5]:
df

       GalaxyID  Class1.1  Class1.2  Class1.3
0        100008  0.383147  0.616853  0.000000
1        100023  0.327001  0.663777  0.009222
2        100053  0.765717  0.177352  0.056931
3        100078  0.693377  0.238564  0.068059
4        100090  0.933839  0.000000  0.066161
...         ...       ...       ...       ...
61573    999948  0.510379  0.489621  0.000000
61574    999950  0.901216  0.098784  0.000000
61575    999958  0.202841  0.777376  0.019783
61576    999964  0.091000  0.909000  0.000000
61577    999967  0.767000  0.140000  0.093000

[61578 rows x 4 columns]